#!/bin/sh
# chkconfig: 2345 99 00
### BEGIN INIT INFO
# Provides:          {{ meteordaemon }}
# Required-Start:    $syslog $remote_fs
# Required-Stop:     $syslog $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start {{ meteordaemon }} daemon
# Description: The {{ meteordaemon }} daemon is a webserver using sockets for providing
#              real-time data streams.
### END INIT INFO

# Source function library.
. /etc/init.d/functions

# Pull in sysconfig settings
[ -f /etc/sysconfig/{{ meteordaemon }} ] && . /etc/sysconfig/{{ meteordaemon }}

PROGNAME={{ meteordaemon }}
lockfile=/var/lock/subsys/${PROGNAME}
RETVAL=0
PID_FILE=/var/run/${PROGNAME}.pid

start() {
  # Check if binary exists and is executable
  [ -x {{ meteordir }}/${PROGNAME} ] || exit 5
  echo -n "Starting ${PROGNAME}: "
  echo 65535 > /proc/sys/fs/file-max
  ulimit -n 65535
  cd {{ meteordir }}
  sudo -u {{ meteoruser }} ./${PROGNAME} >/var/log/${PROGNAME} 2>&1 &
  sleep 1 # allow forking before checking final PID
  echo $(pgrep -u meteor meteord) > ${PID_FILE}
  RETVAL=$?
  [ ${RETVAL} -eq 0 ] && touch ${lockfile}
  echo
  return ${RETVAL}
}

stop() {
    echo -n "Stopping ${PROGNAME}: "
    #killall ${PROGNAME} && success || failure
    killproc -p ${PID_FILE} {{ meteordir }}/${PROGNAME}
    RETVAL=$?
    # Kill all sessions during halt/reboot
    if [ "x$runlevel" = x0 -o "x$runlevel" = x6 ] ; then
        trap '' TERM
        killall ${PROGNAME} 2>/dev/null
        trap TERM
    fi
    [ ${RETVAL} -eq 0 ] && rm -f ${lockfile}
}

reload() {
    echo -n "Reloading ${PROGNAME} configuration: "
    killall -s SIGHUP ${PROGNAME} && success || failure
}

rh_status() {
  status -p $PID_FILE {{ meteordaemon }}
}

rh_status_q() {
  rh_status >/dev/null 2>&1
}

case "$1" in
  'start')
    rh_status_q && exit 0
    start
    ;;
  'stop')
    if ! rh_status_q; then
      rm -f ${lockfile}
      exit 0
    fi
    stop
    ;;
  'reload')
    rh_status_q || exit 7
    reload
    ;;
  'status')
    rh_status
    RETVAL=$?
    if [ ${RETVAL} -eq 3 -a -f ${lockfile} ] ; then
      RETVAL=2
    fi
    ;;
  *)
    echo "Usage: $0 { start | stop | reload | status }"
    exit 3
esac

exit ${RETVAL}
